.group-menu__content
  =link_to group.name, group_messages_path(group)
  - if group.messages.order('created_at DESC').last.present?
    %p= group.messages.order('created_at DESC').last.body
  - else
    %p= "まだ新着メッセージがありません。"
