.container{
  min-width: 600px;
}


.left-contents{
  height: calc(100vh - 30px);
  width: 300px;
  background-color: #2f3e51;
  float: left;

  .user-menu{
    padding: 35px 20px 0;
    height: 75px;
    background-color: #253141;

    h2{
      margin-top: 2px;
      font-size: 16px;
      font-weight: $font;
      color: $white;
      float: left;
    }
    i{
      float: right;
      color: white;
    }
    .fa-edit{
      margin-right: 10px;
    }
    .fa-cog{
      margin-right: 15px;
    }
  }
  .group-menu{
    padding: 20px 20px 0;

    &__content{
      margin-bottom: 40px;
      a{
        font-size: 15px;
        color: $white;
      }
      p{
        font-size: 11px;
        color: $white;
        margin-top: 5px;
      }
    }
  }
}

.right-contents{
  height: calc(100vh - 30px);
  width: calc(100% - 300px);
  background-color: #aaaaaa; //後で指定の色に戻す
  float: left;

  .selected-group{
    height: 110px;
    width: 100%;
    background-color: white;

    &__name{
      width: 70%;
      float: left;
      padding:35px 0 0 40px;
      h2{
        font-size: 20px;
        color: $black;
      }
      ul{
        padding-top: 15px;
        font-size: 15px;
        color: $thin_gray;
        li{
          display: inline-block;
        }
      }
    }
    .edit{
      margin: 28px 40px 0 0;
      float: right;
      font-size: 18px;
      font-weight: $font;
      line-height: 40px;
      padding: 0 20px;
      color: $skyblue;
      background-color: white;
      border-color: $skyblue;
      text-decoration: none;
      border-style: solid;
    }
  }

  &__chat-space{
    border-top-style: solid;
    border-color: #eeeeee;
    padding: 46px 0 0;
    overflow: scroll;
    height: calc(100% - 220px);
    .chat-space__tweet{
      padding-left: 40px;
      margin-bottom: 40px;
      .tweet--name{
        font-size: 16px;
        font-weight: $font;
        color: $dark_gray;
        display: inline;
      }
      .tweet--time{
        font-size: 12px;
        color: $thin_gray;
        margin-left: 10px;
        display: inline;
      }
      .tweet{
        font-size: 14px;
        color: $dark_gray;
        margin-top: 10px;
      }
    }
    .chat-space__writeme{
      position: absolute;
      bottom: 0;
      height: 90px;
      width: calc(100% - 300px);
      background-color: #dddddd;

      #send{
        font-size: 20px;
        color: white;
        height: 50px;
        width: 100px;
        background-color: $skyblue;
        border-style: none;
        margin-left: 20px;
      }
      .text{
        height: 50px;
        width: calc(100% - 225px);
        margin: 20px 25px 20px 50px;
        font-size: 16px;
        color: $dark_gray;
        position: relative;
      }
      .send{
        font-size: 20px;
        color: white;
        height: 50px;
        width: 100px;
        background-color: $skyblue;
        border-style: none;
        font-weight: $font;
      }
      .fa-image{
        position: absolute;
        right: 180px;
        top: 30px;
      }
    }
  }
}
